body {
  background-color: rgb(255, 255, 255);
  font: 400 1em/1.38 Helvetica;
  color: rgb(0, 0, 0);
}

.container {
  float: left;
}

.edit {
  display: block;
  position: relative;
  float: left;
  z-index: 29;
  width: 4.2394014962%;
  height: 159px;
  margin: 9px 0 0 23.69077%;
  background-color: rgba(222, 222, 222, 0);
}

.element {
  float: left;
  width: 99.951792196%;
  height: 41px;
  margin-left: -0.14401%;
}

.element .text {
  width: 40.9651885266%;
  min-height: 29px;
  margin: 9px 0 0 1.81089%;
}

.hr {
  float: left;
  clear: both;
  width: 99.8871841155%;
  height: 1px;
  margin: 23px 0 0 -0.06212%;
  background-color: rgb(0, 0, 0);
}

.image {
  display: block;
  float: left;
  width: 39px;
  height: auto;
  overflow: hidden;
}

.text {
  float: left;
  font-size: 1em;
  font-weight: 400;
  line-height: 1.38;
  color: rgb(0, 0, 0);
}

._button {
  display: block;
  float: left;
  clear: both;
  width: 10.1413133832%;
  height: 36px;
  margin: 30px 0 0 23.60765%;
  border-radius: 3px;
  background-color: rgb(33, 208, 232);
  font-size: 1em;
  font-weight: 400;
  line-height: 1.38;
  text-align: center;
  color: rgb(255, 255, 255);
}

._input {
  display: block;
  position: relative;
  float: left;
  clear: both;
  z-index: 28;
  width: 14.630091438%;
  height: 28px;
  margin: -52px 0 0 54.86154%;
  padding: 0 10px;
  border-radius: 20px;
  background-color: rgb(242, 242, 242);
  font-size: 0.813em;
  font-weight: 400;
  line-height: 1.38;
  color: rgb(0, 0, 0);
}

.element ._container {
  position: relative;
  height: 26px;
}

.container-1 {
  position: relative;
  z-index: 3;
  width: 45.9995843724%;
  height: 52px;
  margin: 83px 0 0 23.60765%;
}

.container-2 {
  width: 54.1036777978%;
  height: 28px;
  margin-left: 45.48227%;
}

.container-3 {
  position: relative;
  z-index: 26;
  width: 14.5469659185%;
  height: 164px;
  margin: 9px 0 0 23.60765%;
}

.container-4 {
  width: 315.9910714285%;
  height: 164px;
}

.container-5 {
  width: 100.0679674888%;
  height: 82px;
  margin-left: -0.06781%;
}

.container-6 {
  clear: both;
  width: 100.0679674888%;
  height: 82px;
  margin-left: -0.06781%;
}

.container-7 {
  z-index: 22;
  width: 55.5188292793%;
  margin: 9px 0 0 1.53403%;
}

.container-8 {
  display: block;
  width: 12.7722369224%;
  height: 149px;
  margin: -82px 0 0 86.95298%;
}

.container-9 {
  clear: both;
  z-index: 16;
  width: 7.0514450377%;
  margin: -29px 0 0 84.25573%;
}

.element-1,
.element-3 {
  background-color: rgb(255, 255, 255);
}

.element-2,
.element-4 {
  clear: both;
  background-color: rgb(246, 246, 246);
}

.image-3 {
  clear: both;
  margin: 15px 0 0 -0.43825%;
}

.image-2,
.image-4 {
  clear: both;
  margin-top: 15px;
}

.image-5 {
  margin: -82px 0 0 -0.84135%;
}

.image-6 {
  clear: both;
  margin: -41px 0 0 -0.84135%;
}

.image-7 {
  clear: both;
  margin-left: -0.84135%;
}

.image-8 {
  clear: both;
  margin: 15px 0 0 -0.84135%;
}

.text-1 {
  width: 211.9115883855%;
  min-height: 44px;
  margin: -24px 0 0 -84.19707%;
}

.text a {
  border-top-width: 0;
  border-right-width: 0;
  border-bottom-width: 0;
  border-left-width: 0;
  border-color: transparent;
  border-style: none;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  background-color: transparent;
  font-family: inherit;
  font-style: normal;
  font-size: 3em;
  font-weight: inherit;
  text-transform: inherit;
  text-decoration: inherit;
  letter-spacing: inherit;
  word-spacing: inherit;
  color: #000000;
  opacity: 1;
  word-break: normal;
  word-wrap: normal;
  white-space: normal;
}

.text span {
  border-top-width: 0;
  border-right-width: 0;
  border-bottom-width: 0;
  border-left-width: 0;
  border-color: transparent;
  border-style: none;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  background-color: transparent;
  font-family: inherit;
  font-style: normal;
  font-size: 4em;
  font-weight: inherit;
  text-transform: inherit;
  text-decoration: inherit;
  letter-spacing: inherit;
  word-spacing: inherit;
  color: #000000;
  opacity: 1;
  word-break: normal;
  word-wrap: normal;
  white-space: normal;
}

@media(max-width: 872px) {
  .container .element {
    margin-left: -0.14024%;
  }

  .container .hr {
    width: 99.7784514925%;
    margin-top: 13px;
    margin-left: -0.0896%;
  }

  .container .image {
    height: auto;
  }

  .edit {
    position: relative;
    z-index: 29;
    margin-top: 19px;
    margin-left: 23.69194%;
  }

  .element .text {
    margin-left: 1.80451%;
  }

  ._button {
    width: 39.2201834862%;
    margin-top: 20px;
    margin-left: 32.52939%;
  }

  ._input {
    position: relative;
    z-index: 28;
    margin-top: -42px;
    margin-left: 54.86131%;
  }

  .element ._container {
    position: relative;
    width: 9.7279600904%;
  }

  .container .container-2 {
    width: 54.0422885572%;
    margin-left: 45.38974%;
  }

  .container .container-4 {
    width: 316.0137965016%;
    margin-top: -10px;
    margin-left: -0.02464%;
  }

  .container .container-5,
  .container .container-6 {
    width: 100.0664192225%;
    margin-left: -0.06627%;
  }

  .container .container-8 {
    width: 100.0400801603%;
    margin-left: -0.04008%;
  }

  .container .image-1,
  .container .image-2,
  .container .image-3,
  .container .image-4 {
    margin-left: -2.40385%;
  }

  .container .image-5 {
    margin-top: -42px;
    margin-left: -1.44289%;
  }

  .container .image-6 {
    margin-top: -1px;
    margin-left: -1.44289%;
  }

  .container .image-7 {
    margin-top: 15px;
    margin-left: -1.44289%;
  }

  .container .image-8 {
    margin-left: -1.44289%;
  }

  .container .text-1 {
    width: 211.9246260069%;
    margin-left: -84.18511%;
  }

  .container-1 {
    position: relative;
    z-index: 3;
    width: 45.9987815366%;
    height: 42px;
    margin-left: 23.62206%;
  }

  .container-3 {
    position: relative;
    z-index: 26;
    margin-top: 19px;
    margin-left: 23.60593%;
  }

  .element .container-7 {
    z-index: 22;
    margin-top: 44px;
    margin-left: 1.87856%;
  }

  .element .container-9 {
    clear: none;
    z-index: 16;
    margin-top: 9px;
    margin-left: 29.92829%;
  }
}

@media(max-width: 586px) {
  body {
    font-size: 1em;
  }

  .container .element {
    margin-left: -0.14492%;
  }

  .container .hr {
    width: 99.8321759259%;
    margin-left: -0.29564%;
  }

  .container .image {
    height: auto;
  }

  .edit {
    position: relative;
    z-index: 29;
    margin-left: 23.69347%;
  }

  .element .text {
    margin-left: 1.80374%;
  }

  ._button {
    width: 52.9010238907%;
    margin-left: 48.40284%;
  }

  ._input {
    position: relative;
    z-index: 28;
    margin-left: 54.85815%;
  }

  .element ._container {
    position: relative;
    width: 14.4762788539%;
  }

  .container .container-2 {
    width: 54.074074074%;
    margin-left: 45.21477%;
  }

  .container .container-4 {
    width: 316.0219981668%;
    margin-left: -0.01833%;
  }

  .container .container-5,
  .container .container-6 {
    width: 100.0697674418%;
    margin-left: -0.06961%;
  }

  .container .container-8 {
    width: 100%;
    margin-left: 0;
  }

  .container .image-1,
  .container .image-2,
  .container .image-3,
  .container .image-4 {
    margin-left: -0.96154%;
  }

  .container .image-5,
  .container .image-6,
  .container .image-7,
  .container .image-8 {
    margin-left: -0.5609%;
  }

  .container .text-1 {
    width: 211.922089041%;
    margin-left: -84.18739%;
  }

  .container-1 {
    position: relative;
    z-index: 3;
    width: 45.9977602389%;
    margin-left: 23.72014%;
  }

  .container-3 {
    position: relative;
    z-index: 26;
    margin-left: 23.60548%;
  }

  .element .container-7 {
    z-index: 22;
    margin-left: 1.77474%;
  }

  .element .container-9 {
    z-index: 16;
    margin-left: 25.16529%;
  }
}

@media(max-width: 400px) {
  .container .element {
    margin-left: -0.13587%;
  }

  .container .hr {
    width: 100%;
    margin-left: -0.36515%;
  }

  .container .image {
    height: auto;
  }

  .edit {
    position: relative;
    z-index: 29;
    margin-left: 23.69141%;
  }

  .element .text {
    margin-left: 1.80969%;
  }

  ._button {
    width: 80.3333333333%;
    margin-left: 70.91406%;
  }

  ._input {
    position: relative;
    z-index: 28;
    margin-left: 54.85938%;
  }

  .element ._container {
    position: relative;
  }

  .container .container-2 {
    width: 54.1610054347%;
    margin-left: 45.22758%;
  }

  .container .container-4 {
    width: 315.977443609%;
    margin-left: 0;
  }

  .container .container-5,
  .container .container-6 {
    width: 100.076660988%;
    margin-left: -0.07649%;
  }

  .container .container-8 {
    width: 99.1981907894%;
    height: 161px;
  }

  .container .image-1,
  .container .image-2 {
    margin-left: -0.35476%;
  }

  .container .image-3 {
    position: relative;
    z-index: 20;
    margin-top: 68px;
    margin-left: 47.49583%;
  }

  .container .image-4 {
    position: relative;
    z-index: 19;
    margin-top: -38px;
    margin-left: -0.35476%;
  }

  .container .image-5,
  .container .image-6,
  .container .image-7,
  .container .image-8 {
    margin-left: -2.1234%;
  }

  .container .text-1 {
    width: 211.9159611163%;
    margin-left: -84.1956700001%;
  }

  .container-1 {
    position: relative;
    z-index: 3;
    width: 46%;
    margin-left: 23.75%;
  }

  .container-3 {
    position: relative;
    z-index: 26;
    margin-left: 23.60547%;
  }

  .element .container-7 {
    z-index: 22;
    width: 41.0535259133%;
    height: 79px;
    margin-top: 9px;
    margin-left: 1.80969%;
  }

  .element .container-9 {
    clear: both;
    z-index: 16;
    width: 21.2064570943%;
    margin-top: -26px;
    margin-left: 41.86916%;
  }

  .element .text-4 {
    position: relative;
    z-index: 11;
  }
}