body {
  background-color: rgb(255, 255, 255);
  font: 400 1em/1.38 Helvetica;
  color: rgb(0, 0, 0);
}

.container {
  float: left;
}

.hr {
  float: left;
  clear: both;
  width: 99.8871841155%;
  height: 1px;
  margin: 9px 0 0 -0.06212%;
  background-color: rgb(0, 0, 0);
}

.image {
  display: block;
  float: left;
  width: 46px;
  height: auto;
  overflow: hidden;
}

.text {
  float: left;
  font-size: 1em;
  font-weight: 400;
  line-height: 1.38;
  color: rgb(0, 0, 0);
}

._button {
  display: block;
  float: left;
  clear: both;
  width: 11.3333333333%;
  height: 36px;
  margin: 48px 0 0 23.5%;
  border-radius: 3px;
  background-color: rgb(33, 208, 232);
  font-size: 1em;
  font-weight: 400;
  line-height: 1.38;
  text-align: center;
  color: rgb(255, 255, 255);
}

._input {
  display: block;
  float: left;
  clear: both;
  height: 34px;
  margin-top: 10px;
  padding: 0 10px;
  background-color: rgb(219, 219, 219);
  font-size: 0.813em;
  font-weight: 400;
  line-height: 1.38;
  color: rgb(0, 0, 0);
}

._select {
  display: block;
  position: relative;
  float: left;
  z-index: 17;
  width: 8.1822916666%;
  height: 34px;
  margin: 10px 0 0 1.17969%;
  padding-left: 10px;
  border: 1px solid rgb(119, 119, 119);
  border-radius: 3px;
  background: url('../images/select-arrows.svg') rgb(242, 242, 242);
  background-repeat: no-repeat;
  background-size: auto auto;
  background-position: right center;
  font-size: 0.813em;
  font-weight: 400;
  line-height: 1.38;
  color: rgb(0, 0, 0);
}

.container ._input {
  width: 99.7362012987%;
}

.container-1 {
  width: 3.8333333333%;
  height: 31px;
  margin: 76px 0 0 18.75%;
}

.container-2 {
  position: relative;
  z-index: 3;
  width: 46.1145833333%;
  height: 52px;
  margin: 81px 0 0 0.9974%;
}

.container-3 {
  position: relative;
  clear: both;
  z-index: 6;
  width: 16.33203125%;
  height: 67px;
  margin: 29px 0 0 23.58073%;
}

.container-4 {
  position: relative;
  z-index: 9;
  width: 16.33203125%;
  height: 67px;
  margin: 29px 0 0 1.33464%;
}

.container-5 {
  clear: both;
  width: 24.4166666666%;
  height: 67px;
  margin: 16px 0 0 23.58073%;
}

.container-6 {
  clear: both;
  width: 24.4166666666%;
  height: 67px;
  margin: 25px 0 0 23.58073%;
}

.container-7 {
  clear: both;
  width: 24.4166666666%;
  height: 67px;
  margin: 24px 0 0 23.58073%;
}

.text-1 {
  width: 114.6487463293%;
  min-height: 44px;
  margin: -24px 0 0 -0.07059%;
}

.text-2,
.text-3 {
  width: 73.2447240259%;
  min-height: 23px;
  margin-left: -0.18337%;
}

.text-4 {
  clear: both;
  width: 24.9635416666%;
  min-height: 23px;
  margin: 31px 0 0 23.51823%;
}

.text-5 {
  position: relative;
  clear: both;
  z-index: 13;
  width: 11.9622395833%;
  min-height: 23px;
  margin: 28px 0 0 23.54948%;
}

.text-6 {
  position: relative;
  z-index: 18;
  width: 11.9622395833%;
  min-height: 23px;
  margin: 28px 0 0 13.66797%;
}

.text-7 {
  width: 73.2447240259%;
  min-height: 23px;
  margin-left: -0.14932%;
}

.text-8,
.text-9 {
  width: 73.2447240259%;
  min-height: 23px;
  margin-left: -0.19198%;
}

._input-3 {
  width: 24.5%;
  margin-left: 23.5%;
}

._input-4 {
  position: relative;
  z-index: 12;
  width: 24.4166666666%;
  margin-left: 23.58073%;
}

.container ._input-1,
.container ._input-2 {
  margin-left: -0.18337%;
}

.container ._input-5 {
  margin-left: -0.14932%;
}

.container ._input-6,
.container ._input-7 {
  margin-left: -0.19198%;
}

.text a {
  border-top-width: 0;
  border-right-width: 0;
  border-bottom-width: 0;
  border-left-width: 0;
  border-color: transparent;
  border-style: none;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  background-color: transparent;
  font-family: inherit;
  font-style: normal;
  font-size: 3em;
  font-weight: inherit;
  text-transform: inherit;
  text-decoration: inherit;
  letter-spacing: inherit;
  word-spacing: inherit;
  color: #000000;
  opacity: 1;
  word-break: normal;
  word-wrap: normal;
  white-space: normal;
}

.text span {
  border-top-width: 0;
  border-right-width: 0;
  border-bottom-width: 0;
  border-left-width: 0;
  border-color: transparent;
  border-style: none;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  background-color: transparent;
  font-family: inherit;
  font-style: normal;
  font-weight: inherit;
  text-transform: inherit;
  text-decoration: inherit;
  word-spacing: inherit;
  opacity: 1;
  word-break: normal;
  word-wrap: normal;
  white-space: normal;
}

.text-1 span {
  font-size: 4em;
  letter-spacing: inherit;
  color: #000000;
}

.text-2 span,
.text-3 span,
.text-4 span,
.text-5 span,
.text-6 span,
.text-7 span,
.text-8 span,
.text-9 span {
  font-size: inherit;
  letter-spacing: 1px;
  color: rgba(0, 0, 0, 0.93);
}

@media(max-width: 872px) {
  .container .hr {
    position: relative;
    z-index: 2;
    width: 99.7784514925%;
    margin-top: -1px;
    margin-left: -0.09326%;
  }

  .container .image {
    height: auto;
    margin-left: -1.08696%;
  }

  ._button {
    position: relative;
    clear: none;
    z-index: 0;
    width: 39.2201834862%;
    margin-top: -279px;
    margin-left: 5.76441%;
  }

  ._select {
    position: relative;
    z-index: 17;
    margin-top: -282px;
    margin-left: 49.31551%;
  }

  .container .text-1 {
    position: relative;
    z-index: 1;
    width: 114.5210802409%;
    margin-left: -0.00389%;
  }

  .container .text-2 {
    margin-left: -0.15361%;
  }

  .container-1 {
    width: 5.2752293577%;
    height: 30px;
    margin-top: 122px;
    margin-left: 18.80734%;
  }

  .container-2 {
    position: relative;
    clear: both;
    z-index: 3;
    margin-top: 364px;
    margin-left: 0;
  }

  .container-3 {
    position: relative;
    z-index: 6;
    width: 16.3309919724%;
    margin-top: -10px;
    margin-left: 0;
  }

  .container-4 {
    position: relative;
    clear: both;
    z-index: 9;
    width: 16.3309919724%;
    margin-top: 0;
    margin-left: 0;
  }

  .container-5 {
    clear: none;
    margin-top: 142px;
    margin-left: 0;
  }

  .container-6,
  .container-7 {
    margin-top: 0;
    margin-left: 0;
  }

  .text-4 {
    position: relative;
    z-index: 11;
    width: 24.9623709862%;
    margin-top: 0;
    margin-left: -0.06272%;
  }

  .text-5 {
    position: relative;
    z-index: 13;
    width: 11.9624426605%;
    margin-top: -147px;
    margin-left: -0.02867%;
  }

  .text-6 {
    position: relative;
    z-index: 18;
    margin-top: -315px;
    margin-left: 49.3119299999%;
  }

  ._input-3 {
    width: 33.9897505733%;
    margin-top: -377px;
    margin-left: 23.49484%;
  }

  ._input-4 {
    position: relative;
    clear: none;
    z-index: 12;
    width: 16.2879873853%;
    margin-top: -282px;
    margin-left: 23.58264%;
  }

  .container ._input-1,
  .container ._input-2,
  .container .text-3 {
    margin-left: -0.18653%;
  }

  .container ._input-5,
  .container ._input-6,
  .container ._input-7,
  .container .text-7,
  .container .text-8,
  .container .text-9 {
    margin-left: -0.16146%;
  }
}

@media(max-width: 586px) {
  body {
    font-size: 1em;
  }

  .container .hr {
    position: relative;
    z-index: 2;
    width: 99.8321759259%;
    margin-left: -0.2949%;
  }

  .container .image {
    height: auto;
    margin-left: -0.27174%;
  }

  ._button {
    position: relative;
    clear: both;
    z-index: 0;
    width: 52.9010238907%;
    margin-top: -346px;
    margin-left: 48.32285%;
  }

  ._select {
    position: relative;
    z-index: 17;
    margin-left: 49.31474%;
  }

  .container .text-1 {
    position: relative;
    z-index: 1;
    width: 114.5830924019%;
    margin-left: -0.04048%;
  }

  .container .text-2 {
    margin-left: -0.16327%;
  }

  .container-1 {
    width: 7.8498293515%;
    margin-left: 18.7659999999%;
  }

  .container-2 {
    position: relative;
    z-index: 3;
  }

  .container-3 {
    position: relative;
    z-index: 6;
    width: 16.3315912969%;
  }

  .container-4 {
    position: relative;
    z-index: 9;
    width: 16.3315912969%;
  }

  .text-4 {
    position: relative;
    z-index: 11;
    width: 24.9626706484%;
    margin-left: -0.06666%;
  }

  .text-5 {
    position: relative;
    z-index: 13;
    width: 11.9613907849%;
    margin-left: -0.032%;
  }

  .text-6 {
    position: relative;
    z-index: 18;
    margin-left: 49.30941%;
  }

  ._input-3 {
    width: 33.9910409556%;
    margin-left: 23.49883%;
  }

  ._input-4 {
    position: relative;
    z-index: 12;
    width: 16.2862627986%;
    margin-left: 23.57882%;
  }

  .container ._input-1,
  .container ._input-2,
  .container .text-3 {
    margin-left: -0.19592%;
  }

  .container ._input-5,
  .container ._input-6,
  .container ._input-7,
  .container .text-7,
  .container .text-8,
  .container .text-9 {
    margin-left: -0.17473%;
  }
}

@media(max-width: 400px) {
  .container .hr {
    position: relative;
    z-index: 2;
    width: 100%;
    margin-left: -0.33884%;
  }

  .container .image {
    height: auto;
    margin-left: 0;
  }

  ._button {
    position: relative;
    z-index: 0;
    width: 80.3333333333%;
    margin-left: 70.79688%;
  }

  ._select {
    position: relative;
    z-index: 17;
    margin-left: 49.31641%;
  }

  .container .text-1 {
    position: relative;
    z-index: 1;
    width: 114.7564591274%;
    margin-left: -0.08471%;
  }

  .container-1 {
    width: 11.5%;
    margin-left: 18.75%;
  }

  .container-2 {
    position: relative;
    z-index: 3;
  }

  .container-3 {
    position: relative;
    z-index: 6;
    width: 16.33203125%;
  }

  .container-4 {
    position: relative;
    z-index: 9;
    width: 16.33203125%;
  }

  .text-4 {
    position: relative;
    z-index: 11;
    width: 24.9609375%;
    margin-left: -0.05469%;
  }

  .text-5 {
    position: relative;
    z-index: 13;
    width: 11.9609375%;
    margin-left: -0.02344%;
  }

  .text-6 {
    position: relative;
    z-index: 18;
    margin-left: 49.3125%;
  }

  ._input-3 {
    width: 33.98828125%;
    margin-left: 23.5%;
  }

  ._input-4 {
    position: relative;
    z-index: 12;
    width: 16.28515625%;
    margin-left: 23.57813%;
  }

  .container ._input-1,
  .container ._input-2,
  .container .text-2,
  .container .text-3 {
    margin-left: -0.14351%;
  }

  .container ._input-5,
  .container .text-7 {
    margin-left: -0.128%;
  }

  .container ._input-6,
  .container ._input-7,
  .container .text-8,
  .container .text-9 {
    margin-left: -0.192%;
  }
}