body {
  min-width: none;
  min-height: nonepx;
  background-color: rgb(255, 255, 255);
  font: 400 1em/1.38 Helvetica;
  color: rgb(0, 0, 0);
  -webkit-transform: none;
  -moz-transform: none;
  -o-transform: none;
  -ms-transform: none;
  transform: none;
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  -ms-transition: none;
  transition: none;
  -webkit-filter: none;
  -moz-filter: none;
  -o-filter: none;
  -ms-filter: none;
  filter: none;
}

.container {
  position: relative;
  float: left;
  min-width: none;
  min-height: nonepx;
  -webkit-transform: none;
  -moz-transform: none;
  -o-transform: none;
  -ms-transform: none;
  transform: none;
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  -ms-transition: none;
  transition: none;
  -webkit-filter: none;
  -moz-filter: none;
  -o-filter: none;
  -ms-filter: none;
  filter: none;
}

.container .text {
  width: 73.2447240259%;
  min-height: 23px;
  margin-left: -0.19329%;
}

.text {
  float: left;
  min-width: none;
  background-color: rgba(0, 0, 0, 0);
  font-size: 1em;
  font-weight: 400;
  line-height: 1.38;
  color: rgb(0, 0, 0);
  -webkit-transform: none;
  -moz-transform: none;
  -o-transform: none;
  -ms-transform: none;
  transform: none;
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  -ms-transition: none;
  transition: none;
  -webkit-filter: none;
  -moz-filter: none;
  -o-filter: none;
  -ms-filter: none;
  filter: none;
}

._button {
  display: block;
  position: relative;
  float: left;
  z-index: 7;
  width: 25.6822916666%;
  min-width: none;
  height: 55px;
  min-height: nonepx;
  margin: -586px 0 0 37.16016%;
  border-radius: 3px;
  background-color: rgb(33, 208, 232);
  font-size: 1em;
  font-weight: 400;
  line-height: 1.38;
  text-align: center;
  color: rgb(255, 255, 255);
  -webkit-transform: none;
  -moz-transform: none;
  -o-transform: none;
  -ms-transform: none;
  transform: none;
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  -ms-transition: none;
  transition: none;
  -webkit-filter: none;
  -moz-filter: none;
  -o-filter: none;
  -ms-filter: none;
  filter: none;
}

._container {
  width: 25.5989583333%;
  height: 67px;
}

._element {
  z-index: 0;
  width: 100%;
  height: 947px;
  background-color: rgb(34, 34, 34);
}

._input {
  display: block;
  float: left;
  clear: both;
  width: 99.7362012987%;
  min-width: none;
  height: 34px;
  min-height: nonepx;
  margin: 10px 0 0 -0.19329%;
  padding: 0 10px;
  background-color: rgb(242, 242, 242);
  font-size: 0.813em;
  font-weight: 400;
  line-height: 1.38;
  color: rgb(0, 0, 0);
  -webkit-transform: none;
  -moz-transform: none;
  -o-transform: none;
  -ms-transform: none;
  transform: none;
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  -ms-transition: none;
  transition: none;
  -webkit-filter: none;
  -moz-filter: none;
  -o-filter: none;
  -ms-filter: none;
  filter: none;
}

.container-2 {
  z-index: 3;
  margin: -765px 0 0 37.24349%;
}

.container-3 {
  z-index: 6;
  margin: -688px 0 0 37.16016%;
}

.text-1 {
  position: relative;
  clear: both;
  z-index: 8;
  width: 80%;
  min-height: 90px;
  margin: -834px 0 0 10%;
  text-align: center;
}

.text span {
  border-top-width: 0;
  border-right-width: 0;
  border-bottom-width: 0;
  border-left-width: 0;
  border-color: transparent;
  border-style: none;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  background-color: transparent;
  font-style: normal;
  text-transform: inherit;
  text-decoration: inherit;
  letter-spacing: 1px;
  word-spacing: inherit;
  opacity: 1;
  word-break: normal;
  word-wrap: normal;
  white-space: normal;
}

.text-1 span {
  font-family: Avenir;
  font-size: 1.5em;
  font-weight: Book;
  color: rgb(255, 255, 255);
}

.text-2 span,
.text-3 span {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  color: rgba(255, 255, 255, 0.93);
}

@media(max-width: 872px) {
  .container {
    position: relative;
  }

  .text {
    width: 80.0458715596%;
    margin-left: 9.97348%;
  }

  ._button {
    position: relative;
    z-index: 7;
    width: 39.2201834862%;
    margin-left: 30.38991%;
  }

  ._container {
    width: 39.1055045871%;
  }

  ._element {
    z-index: 0;
  }

  .container ._input,
  .container .text {
    margin-left: -0.19245%;
  }

  .container-2 {
    z-index: 3;
    margin-left: 30.50459%;
  }

  .container-3 {
    z-index: 6;
    margin-left: 30.38991%;
  }

  .text-1 {
    position: relative;
    z-index: 8;
  }
}

@media(max-width: 586px) {
  body {
    font-size: 1em;
  }

  .container {
    position: relative;
  }

  .text {
    margin-left: 10.06826%;
  }

  ._button {
    position: relative;
    z-index: 7;
    width: 52.9010238907%;
    margin-left: 23.54949%;
  }

  ._container {
    width: 52.7303754266%;
  }

  ._element {
    z-index: 0;
  }

  .container ._input,
  .container .text {
    margin-left: -0.19721%;
  }

  .container-2 {
    z-index: 3;
    margin-left: 23.72014%;
  }

  .container-3 {
    z-index: 6;
    margin-left: 23.54949%;
  }

  .text-1 {
    position: relative;
    z-index: 8;
    width: 80.2047781569%;
  }
}

@media(max-width: 400px) {
  .container {
    position: relative;
  }

  .text {
    margin-left: 10%;
  }

  ._button {
    position: relative;
    z-index: 7;
    width: 80.3333333333%;
    margin-left: 10%;
  }

  ._container {
    width: 80%;
    margin-left: 10%;
  }

  ._element {
    z-index: 0;
  }

  .container ._input,
  .container .text {
    margin-left: -0.19043%;
  }

  .container-2 {
    z-index: 3;
  }

  .container-3 {
    z-index: 6;
  }

  .text-1 {
    position: relative;
    z-index: 8;
    width: 80%;
  }
}